nav.titlebar {
    background:dodgerblue;
}
.titlebar-name {
    width:50%;
}
h1 {
    font-size:1.5rem;
}
h2 {
    margin-bottom: 1.5rem;
}
h2 {
    margin-bottom: 1.0rem;
}
table {
    width:100%;
}
table tr th.main{
    width:50%;
}
table tr th.small {
    width:25%;
}
nav.sideber {
    background:#f6f6f6;
}